---
layout: default
overtitle: Welcome, we are Alea Makers and this is
title: an open journey to the makers wonderland.
description: We are an italian indie-makers group. <br>We grow. We make. We share. 
featured_image: "/images/social.jpg"

---
<div class="page-home">

	{% if site.data.settings.hero_settings.background_image %}
	<img src="{{ site.data.settings.hero_settings.background_image }}" class="hero__background" draggable="false">
	{% endif %}

	<section class="hero">
		<div class="wrap grid">
			<div class="title">
				<p class="subtitle">{{ page.overtitle }}</p>
				<h1>{{ page.title }}</h1>
			</div>

			<p class="intro subtitle--light">
				{{ page.description }}
				<a href="#" class="hero__cta button--fill contact-trigger js-contact">Get In Touch</a>
			</p>
		</div>
	</section>

	<section class="listing">
		<div class="wrap">

			{% for project in site.projects reversed %}

			{% if project.accent_color %}{% capture accent_color %}{{ project.accent_color }}{% endcapture %}{% endif %}

			<article class="project__preview">
				<h3 class="project__title"><a href="{{ project.url }}" style="--accent: {{ accent_color }}">{{ project.title }}</a></h3>

				<div class="project__images owl-carousel" style="--accent: {{ accent_color }}">
					{% for image in project.gallery_images %}
					<a href="{{ project.url }}"><img src="/images/projects/{{ image }}" alt="" class="project__image"></a>
					{% endfor %}
				</div>

				<div class="project__content grid" style="border-color: {{ accent_color }}">
					<p class="project__subtitle subtitle--light">{{ project.subtitle }}</p>
					<p class="project__description --small">
						{{ project.description }}
						<a href="{{ project.url }}" class="project__link button--text --right"
							style="color: {{ accent_color }}; --color-var: {{ accent_color }}">View Case Study</a>
					</p>
				</div>
			</article>

			{% endfor %}
		</div>
	</section>
	
		<section class="listing">
		<div class="wrap">
			<article class="project__preview">
				<h3 class="project__title">Our newsletter</h3>

				<div class="project__content grid" style="border-color: {{ accent_color }}">
					<p class="project__subtitle subtitle--light">Enter your email to receive news about us and the status of our services. We will write to you only for important and useful things.</p>
					
					<!-- Begin Mailchimp Signup Form -->
                        <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
                        <style type="text/css">
                        	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
                        	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                        	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                        </style>
                        <div id="mc_embed_signup">
                        <form action="https://aleamakers.us20.list-manage.com/subscribe/post?u=75bd2af89ee7c086a96f414b8&amp;id=4b72e76c46" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                        	
                        	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_75bd2af89ee7c086a96f414b8_4b72e76c46" tabindex="-1" value=""></div>
                            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                            </div>
                        </form>
                        </div>
                        
                    <!--End mc_embed_signup-->
					
				</div>
			</article>
		</div>
	</section>

	{% include section__about.html %}

	<section class="recent-posts">
		<div class="wrap grid">
			<header class="recent-posts__header">
				<h4>Recent blog posts</h4>
				<a href="/blog" class="action button--text--accent --right">All Posts</a>
			</header>

			<div class="recent-posts__list grid">
				{% for post in site.posts limit: 3 %}
				{% include component__post-preview.html %}
				{% endfor %}
			</div>

			<a href="/blog" class="action-bottom button--text--accent --right">All Posts</a>
		</div>
	</section>
</div>