
<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="/images/profile.jpg" alt="">

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">Hey, We are Alea Makers, nice to meet you!</h2>
      <p class="subtitle subtitle--light">We are Alessandro and Gabriel, from Turin (Italy). We love challenges and developing services for people. 
      </p>

      <p>We believe in data and creative experimentation. We apply precise patterns to each new idea, which begins with the problem validation up to the endless phase of requesting feedback from our customers.</p>
        <p>We treat complicated challenges and problems as opportunities to best express our potential. Our extreme curiosity constantly pushes us out of our comfort zone, creating an infinite iteration between making mistakes and learning from them. We love to collaborate with stimulating people, who have a strong passion for something, even if it's not our domain. We love sharing what we learn and helping other enterprising people like us.</p>
      <p>We are open to any kind of opportunity, feel free to send us an email!</p>

      <a href="#" class="cta button--fill contact-trigger js-contact">Get in Touch</a>
    </div>
  </div>
</section>